<launch>
  <master auto="start"/>

  <!-- Run camera -->
  <node name="polled_camera" pkg="mjpegipstream" type="polled_camera.py"/>
  <!-- Run image convertion -->
  <node name="transport_full" pkg="image_transport" type="republish" output="screen" args="compressed in:=camera/image  out:=/image" />

  <node name="arduino" pkg="ros_arduino_python" type="arduino_node.py" output="screen">
      <rosparam file="$(find ros_arduino_python)/config/my_arduino_params.yaml" command="load" />
  </node>

  <!-- Run a static transform between /odom and /map -->
  <node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /map /odom 100" />

  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find frobo_description)/urdf/frobo.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
<!-- 
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
   </node>
-->
  <!-- Run the map server with a blank map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find frobo_nav)/maps/empty.yaml" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find frobo_nav)/config/frobo/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find frobo_nav)/config/frobo/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find frobo_nav)/config/frobo/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find frobo_nav)/config/frobo/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find frobo_nav)/config/frobo/base_local_planner_params.yaml" command="load" />
  </node>


</launch>

